data
.ipynb_checkpoints
*.h5
models
*.swp
*.p
*.sw*
*memo.txt
/__pycache__/
/log/
/trash/
/data/
/record/
*.npy
/linux_sim/
/mac_sim.app/
writeup_report.html
00Rubric.pdf
examples/placeholder_small.png
examples/placeholder.png
00Keras/modelfile*
00TransferLearning/CarND-Alexnet-Feature-Extraction/alexnet/
/1stTrial_fail/
/record.bk/
